:root {
    --cor-fonte-padrao: #494b53;
}

* {
    padding: 0;
    margin: 0;
}

#top {
    display: flex;
    justify-content: end;
    padding: 10px;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.279);
}

#top div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white url('foto-teste.png') no-repeat center right;
    background-size: cover;
    border: 1px solid #e6e7eb;
}

#top sup {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 1px;
    display: inline-block;
    transform: translate(-12px, 3px);
}

#top > p {
    padding-right: 15px;
}

#top i {
    vertical-align: -10px;
    font-size: 1.3em;
}

#menu {
    height: 100vh;
    width: 68px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.279);
    overflow: hidden;
    transition: width .3s ease, opacity .4s ease-out;
    position: fixed;
}

#menu:hover {
    width: 200px;
}


#menu ul > li {
    display: flex;
    margin: 25px 0;
}

#menu .icon {
    padding: 0 25px;
    font-size: 1.2em;
}

#menu .rotated {
    display: inline-block;
    transform: rotate(45deg);
}

#menu .txt-link {
    
}