:root {
    --cor-fonte-padrao: #494b53;
    --cor-background-menu: #e6e7eb;
    --fonte-padrao: ;
}

* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100vh;
}

#top {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 0 3px rgba(0, 0, 0, 0.279);
    position: fixed;
    width: 100%;
    z-index: 2;
    box-sizing: border-box;
}

#top div {
    display: flex;
}

#top img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#top #icon-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: white url('foto-teste.png') no-repeat center right;
    background-size: cover;
    border: 1px solid #e6e7eb;
}

#top sup {
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 1px;
    display: inline-block;
    transform: translate(-12px, 3px);
}

#top > p {
    padding-right: 15px;
}

#top i {
    vertical-align: -10px;
    font-size: 1.3em;
}

#menu {
    height: 100%;
    width: 60px;
    display: inline-block;
    box-sizing: border-box;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .279);
    position: fixed;
    margin-top: 61.6px;
    z-index: 2;
}

#menu ul {
    list-style-type: none;
    padding: 10px;
}

#menu ul > li {
    display: flex;
    color: var(--cor-fonte-padrao);
    padding: 10px;
}

#pages {
    height: 100%;
    width: 150px;
    margin-left: 60px;
    margin-top: 62.6px;
    display: inline-block;
    background-color: transparent;
    border-radius: 0 10px 10px 0 ;
    position: fixed;
}

#pages ul {
    list-style-type: none;
    transform: translateY(-230%);
}

#pages ul > li {
    padding: 10px 12px;
    margin: 20px 3px;
    border-radius: 7px;
    background-color: white;
    cursor: pointer;
}

#pages li .page-icon {
    margin-right: 10px;
}

#pages li a {
    text-decoration: none;
    color: var(--cor-fonte-padrao);
}

#pages .options {
    display: none;
    margin: 10px;
}

#pages .open {
    height: 100%;
    width: 10px;
    background-image: linear-gradient(to right, var(--cor-background-menu), var(--cor-fonte-padrao));
    display: inline-block;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}

.exp {
    display: inline-block;
}

.show {
    background-color: var(--cor-background-menu);
}